main="Lathi",sub="Willpower grip",ammo="Kalboron stone",
        head="Welkin Crown",neck="Eddy Necklace",ear1="Barkarole Earring",ear2="Friomisi Earring",
        body="Witching Robe",hands="Amalric Gages",ring1="Shiva Ring +1",ring2="Shiva Ring +1",
        back="Seshaw cape",waist="Refoccilation stone",legs="Artsieq hose",feet="Helios boots"
